mixin post(info)
    a(href=`/posts/${info.id}`)
        div.post-div 
            div.post-photo
                img(src="/" + info.imageUrl)
            div.post-info
                div.post-title_div
                    p.post-title_p=info.title
                div.post-info_meta
                    p.post-info_meta-views #{info.views} 조회수
                    div.post-info_meta-heart
                        div
                            i.fa-regular.fa-heart
                            span #{info.thumbsup}
                        div
                            i.fa-regular.fa-comment
                            span #{info.comments.length}
                
