extends base.pug

block content
    span#notLogin 
    p#p
    div#postContainer(data-userId=loggedInUser._id, data-postId=post._id)
        img(src="/"+post.imageUrl width=100 height=100)
        p=post.description
        small=post.createdAt
        br
        span 로그인 한 name: | #{loggedInUser.name}
        br
        span 로그인 한 사람이 좋아요 누른 것 | #{loggedInUser.likePosts}

        br
        small 작성자 
            a(href=`/users/${post.owner._id}`)  #{post.owner.name}
        div
            Button#likeBtn 
                if (loggedIn && loggedInUser.likePosts.map(String).includes(String(post._id)))
                    i#likeBtnIcon.fa-solid.fa-thumbs-up
                else 
                    i#likeBtnIcon.fa-regular.fa-thumbs-up
            span#likeSpan=post.thumbsup
        h4 #{post.views + 1} 조회수
        if String(post.owner._id) === String(loggedInUser._id)
            a(href=`${post.id}/edit`) Edit &rarr;
            br
            a(href=`${post.id}/delete`) Delete &rarr;
block scripts 
    script(src="/static/js/likeBtn.js") 
    script(src="/static/js/views.js") 